//VARIABLES BECAUSE CSS PREPROCESSORS ARE COOL
$gray: #555;
$yellow: #f2e968;
$white: #efefef;
.grid-container {
    background: $white;
    font-family: 'Rubik', sans-serif;
}

//ENABLE CSS GRID FOR LIFT OFF  🚀
@supports(display: grid) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        //Let the craziness begin!!!
        grid-template-areas: "header header header" "title title footer" "main main main";
        @media screen and (max-width: 500px) {
            grid-template-columns: 1fr;
            grid-template-rows: 0.3fr 1fr auto 1fr;
            grid-template-areas: "header" "title" "main" "footer";
        }
    }
    .grid-item {
        color: #fff;
        background: skyblue;
        padding: 3.5em 1em;
        font-size: 1em;
        font-weight: 700;
    }
    .main {
        color: lighten($gray, 25%);
        background-color: lighten(skyblue, 60%);
        grid-area: main;
        padding: 0;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .items {
        position: relative;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        transition: all 0.2s;
        transform: scale(0.98);
        will-change: transform;
        user-select: none;
        cursor: pointer;
    }
    .items.active {
        background: rgba(255, 255, 255, 0.3);
        cursor: grabbing;
        cursor: -webkit-grabbing;
        transform: scale(1);
    }
    .item {
        display: inline-block;
        background: skyblue;
        min-height: 250px;
        min-width: 400px;
        margin: 2em 1em;
        @media screen and (max-width: 500px) {
            min-height: 200px;
            min-width: 200px;
        }
    }
}

::-webkit-scrollbar {
    display: none;
}